<a href="https://colab.research.google.com/github/Saccha/Example-Pandas-and-NumPy/blob/main/Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [12]:
import numpy as np

A=np.array([[1,2],[3,4],[5,6],[7,8]])

print(A)

[[1 2]
 [3 4]
 [5 6]
 [7 8]]